[Unit]
Description=Start and Update BPM Python Script
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/pi/bpm_run/GoogleIoTCoreApp/pi_py/startup_utils/start_python.sh

[Install]
WantedBy=multi-user.target