[Unit]
Description=Start and Update BPM Python Script
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/pi/bpm_run/GoogleIoTCoreApp/pi_py/
User=pi
Group=pi
ExecStartPre=/usr/bin/git pull
ExecStartPre=/usr/bin/pip install -r requirements.txt
ExecStart=/usr/bin/python bpm_writer.py
Restart=always

[Install]
WantedBy=multi-user.target