[Unit]
Description=Start and Update BPM Python Script
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/pi/bpm_run/GoogleIoTCoreApp/pi_py/
ExecStart=/usr/bin/python -u bpm_writer.py
ExecStartPre=/usr/bin/git pull
ExecStartPre=/usr/bin/pip install -r requirements.txt
Restart=always
User=pi

[Install]
WantedBy=multi-user.target